.shading.end {
  clip-path: polygon(
    0px 25px,
    0px 25px,
    0.3272083px 20.9448747px,
    1.2745184px 17.0980736px,
    2.7904581px 13.5110689px,
    4.8235552px 10.2353328px,
    7.3223375px 7.3223375px,
    10.2353328px 4.8235552px,
    13.5110689px 2.7904581px,
    17.0980736px 1.2745184px,
    20.9448747px 0.3272083px,
    25px 4.1388943247101e-31px,
    calc(100% - 25px) 0px,
    calc(100% - 25px) 0px,
    calc(100% - 20.944899px) 0.3272083px,
    calc(100% - 17.098112px) 1.2745184px,
    calc(100% - 13.511113px) 2.7904581px,
    calc(100% - 10.235376px) 4.8235552px,
    calc(100% - 7.322375px) 7.3223375px,
    calc(100% - 4.8235839999999px) 10.2353328px,
    calc(100% - 2.790477px) 13.5110689px,
    calc(100% - 1.2745279999999px) 17.0980736px,
    calc(100% - 0.32721100000015px) 20.9448747px,
    calc(100% - 0px) 25px,
    calc(100% - 0px) calc(100% - 99px),
    calc(100% - 0px) calc(100% - 99px),
    calc(100% - 0.32721099999981px) calc(100% - 94.944899px),
    calc(100% - 1.2745279999998px) calc(100% - 91.098112px),
    calc(100% - 2.790477px) calc(100% - 87.511113px),
    calc(100% - 4.8235839999999px) calc(100% - 84.235376px),
    calc(100% - 7.322375px) calc(100% - 81.322375px),
    calc(100% - 10.235376px) calc(100% - 78.823584px),
    calc(100% - 13.511113px) calc(100% - 76.790477px),
    calc(100% - 17.098112px) calc(100% - 75.274528px),
    calc(100% - 20.944899px) calc(100% - 74.327211px),
    calc(100% - 25px) calc(100% - 74px),
    calc(50% - -146.057px) calc(100% - 74px),
    calc(50% - -146.057px) calc(100% - 74px),
    calc(50% - -143.460217px) calc(100% - 73.865058px),
    calc(50% - -140.918976px) calc(100% - 73.466824px),
    calc(50% - -138.450839px) calc(100% - 72.815186px),
    calc(50% - -136.073368px) calc(100% - 71.920032px),
    calc(50% - -133.804125px) calc(100% - 70.79125px),
    calc(50% - -131.660672px) calc(100% - 69.438728px),
    calc(50% - -129.660571px) calc(100% - 67.872354px),
    calc(50% - -127.821384px) calc(100% - 66.102016px),
    calc(50% - -126.160673px) calc(100% - 64.137602px),
    calc(50% - -124.696px) calc(100% - 61.989px),
    calc(50% - -94.304px) calc(100% - 12.01px),
    calc(50% - -94.304px) calc(100% - 12.01px),
    calc(50% - -92.839327px) calc(100% - 9.8616689999999px),
    calc(50% - -91.178616px) calc(100% - 7.8974719999999px),
    calc(50% - -89.339429px) calc(100% - 6.127303px),
    calc(50% - -87.339328px) calc(100% - 4.561056px),
    calc(50% - -85.195875px) calc(100% - 3.208625px),
    calc(50% - -82.926632px) calc(100% - 2.079904px),
    calc(50% - -80.549161px) calc(100% - 1.184787px),
    calc(50% - -78.081024px) calc(100% - 0.53316799999999px),
    calc(50% - -75.539783px) calc(100% - 0.13494100000003px),
    calc(50% - -72.943px) calc(100% - 0px),
    25px calc(100% - 0px),
    25px calc(100% - 0px),
    20.9448747px calc(100% - 0.32721099999992px),
    17.0980736px calc(100% - 1.2745279999999px),
    13.5110689px calc(100% - 2.790477px),
    10.2353328px calc(100% - 4.823584px),
    7.3223375px calc(100% - 7.322375px),
    4.8235552px calc(100% - 10.235376px),
    2.7904581px calc(100% - 13.511113px),
    1.2745184px calc(100% - 17.098112px),
    0.3272083px calc(100% - 20.944899px),
    4.1388943247101e-31px calc(100% - 25px),
    0px 25px
  );
}

.shading.start {
  clip-path: polygon(
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0.32721099999981px) calc(100% - 20.944899px),
    calc(100% - 1.2745279999998px) calc(100% - 17.098112px),
    calc(100% - 2.790477px) calc(100% - 13.511113px),
    calc(100% - 4.8235839999999px) calc(100% - 10.235376px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 17.098112px) calc(100% - 1.274528px),
    calc(100% - 20.944899px) calc(100% - 0.32721100000003px),
    calc(100% - 25px) calc(100% - 0px),
    25px calc(100% - 0px),
    25px calc(100% - 0px),
    20.9448747px calc(100% - 0.32721099999992px),
    17.0980736px calc(100% - 1.2745279999999px),
    13.5110689px calc(100% - 2.790477px),
    10.2353328px calc(100% - 4.823584px),
    7.3223375px calc(100% - 7.322375px),
    4.8235552px calc(100% - 10.235376px),
    2.7904581px calc(100% - 13.511113px),
    1.2745184px calc(100% - 17.098112px),
    0.3272083px calc(100% - 20.944899px),
    4.1388943247101e-31px calc(100% - 25px),
    0px 99px,
    0px 99px,
    0.3272083px 94.9448504px,
    1.2745184px 91.0980352px,
    2.7904581px 87.5110248px,
    4.8235552px 84.2352896px,
    7.3223375px 81.3223px,
    10.2353328px 78.8235264px,
    13.5110689px 76.7904392px,
    17.0980736px 75.2745088px,
    20.9448747px 74.3272056px,
    25px 74px,
    calc(50% - 146.057px) 73.9999px,
    calc(50% - 146.057px) 73.9999px,
    calc(50% - 143.460217px) 73.8649721px,
    calc(50% - 140.918976px) 73.4667768px,
    calc(50% - 138.450839px) 72.8151967px,
    calc(50% - 136.073368px) 71.9201144px,
    calc(50% - 133.804125px) 70.7914125px,
    calc(50% - 131.660672px) 69.4389736px,
    calc(50% - 129.660571px) 67.8726803px,
    calc(50% - 127.821384px) 66.1024152px,
    calc(50% - 126.160673px) 64.1380609px,
    calc(50% - 124.696px) 61.9895px,
    calc(50% - 94.304px) 12.0105px,
    calc(50% - 94.304px) 12.0105px,
    calc(50% - 92.839327px) 9.86192415px,
    calc(50% - 91.178616px) 7.8975552px,
    calc(50% - 89.339429px) 6.12727605px,
    calc(50% - 87.339328px) 4.5609696px,
    calc(50% - 85.195875px) 3.20851875px,
    calc(50% - 82.926632px) 2.0798064px,
    calc(50% - 80.549161px) 1.18471545px,
    calc(50% - 78.081024px) 0.5331288px,
    calc(50% - 75.539783px) 0.13492935px,
    calc(50% - 72.943px) 1.6834353347175e-31px,
    calc(100% - 25px) 0px,
    calc(100% - 25px) 0px,
    calc(100% - 20.944899px) 0.3272083px,
    calc(100% - 17.098112px) 1.2745184px,
    calc(100% - 13.511113px) 2.7904581px,
    calc(100% - 10.235376px) 4.8235552px,
    calc(100% - 7.322375px) 7.3223375px,
    calc(100% - 4.8235839999999px) 10.2353328px,
    calc(100% - 2.790477px) 13.5110689px,
    calc(100% - 1.2745279999999px) 17.0980736px,
    calc(100% - 0.32721100000015px) 20.9448747px,
    calc(100% - 0px) 25px,
    calc(100% - 0px) calc(100% - 25px)
  );
}

.shading {
  opacity: 0.8;
  align-self: stretch;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-secondary);
  background: linear-gradient(rgba(35, 35, 35, 0) 0%, rgb(35, 35, 35) 100%);
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.portfolio.end {
  clip-path: polygon(
    0px 25px,
    0px 25px,
    0.3272083px 20.9448747px,
    1.2745184px 17.0980736px,
    2.7904581px 13.5110689px,
    4.8235552px 10.2353328px,
    7.3223375px 7.3223375px,
    10.2353328px 4.8235552px,
    13.5110689px 2.7904581px,
    17.0980736px 1.2745184px,
    20.9448747px 0.3272083px,
    25px 4.1388943247101e-31px,
    calc(100% - 25px) 0px,
    calc(100% - 25px) 0px,
    calc(100% - 20.944899px) 0.3272083px,
    calc(100% - 17.098112px) 1.2745184px,
    calc(100% - 13.511113px) 2.7904581px,
    calc(100% - 10.235376px) 4.8235552px,
    calc(100% - 7.322375px) 7.3223375px,
    calc(100% - 4.8235839999999px) 10.2353328px,
    calc(100% - 2.790477px) 13.5110689px,
    calc(100% - 1.2745279999999px) 17.0980736px,
    calc(100% - 0.32721100000015px) 20.9448747px,
    calc(100% - 0px) 25px,
    calc(100% - 0px) calc(100% - 99px),
    calc(100% - 0px) calc(100% - 99px),
    calc(100% - 0.32721099999981px) calc(100% - 94.944899px),
    calc(100% - 1.2745279999998px) calc(100% - 91.098112px),
    calc(100% - 2.790477px) calc(100% - 87.511113px),
    calc(100% - 4.8235839999999px) calc(100% - 84.235376px),
    calc(100% - 7.322375px) calc(100% - 81.322375px),
    calc(100% - 10.235376px) calc(100% - 78.823584px),
    calc(100% - 13.511113px) calc(100% - 76.790477px),
    calc(100% - 17.098112px) calc(100% - 75.274528px),
    calc(100% - 20.944899px) calc(100% - 74.327211px),
    calc(100% - 25px) calc(100% - 74px),
    calc(50% - -146.057px) calc(100% - 74px),
    calc(50% - -146.057px) calc(100% - 74px),
    calc(50% - -143.460217px) calc(100% - 73.865058px),
    calc(50% - -140.918976px) calc(100% - 73.466824px),
    calc(50% - -138.450839px) calc(100% - 72.815186px),
    calc(50% - -136.073368px) calc(100% - 71.920032px),
    calc(50% - -133.804125px) calc(100% - 70.79125px),
    calc(50% - -131.660672px) calc(100% - 69.438728px),
    calc(50% - -129.660571px) calc(100% - 67.872354px),
    calc(50% - -127.821384px) calc(100% - 66.102016px),
    calc(50% - -126.160673px) calc(100% - 64.137602px),
    calc(50% - -124.696px) calc(100% - 61.989px),
    calc(50% - -94.304px) calc(100% - 12.01px),
    calc(50% - -94.304px) calc(100% - 12.01px),
    calc(50% - -92.839327px) calc(100% - 9.8616689999999px),
    calc(50% - -91.178616px) calc(100% - 7.8974719999999px),
    calc(50% - -89.339429px) calc(100% - 6.127303px),
    calc(50% - -87.339328px) calc(100% - 4.561056px),
    calc(50% - -85.195875px) calc(100% - 3.208625px),
    calc(50% - -82.926632px) calc(100% - 2.079904px),
    calc(50% - -80.549161px) calc(100% - 1.184787px),
    calc(50% - -78.081024px) calc(100% - 0.53316799999999px),
    calc(50% - -75.539783px) calc(100% - 0.13494100000003px),
    calc(50% - -72.943px) calc(100% - 0px),
    25px calc(100% - 0px),
    25px calc(100% - 0px),
    20.9448747px calc(100% - 0.32721099999992px),
    17.0980736px calc(100% - 1.2745279999999px),
    13.5110689px calc(100% - 2.790477px),
    10.2353328px calc(100% - 4.823584px),
    7.3223375px calc(100% - 7.322375px),
    4.8235552px calc(100% - 10.235376px),
    2.7904581px calc(100% - 13.511113px),
    1.2745184px calc(100% - 17.098112px),
    0.3272083px calc(100% - 20.944899px),
    4.1388943247101e-31px calc(100% - 25px),
    0px 25px
  );
}

.portfolio.center {
  border-radius: 1.5625em;
}

.portfolio.start {
  clip-path: polygon(
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0.32721099999981px) calc(100% - 20.944899px),
    calc(100% - 1.2745279999998px) calc(100% - 17.098112px),
    calc(100% - 2.790477px) calc(100% - 13.511113px),
    calc(100% - 4.8235839999999px) calc(100% - 10.235376px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 17.098112px) calc(100% - 1.274528px),
    calc(100% - 20.944899px) calc(100% - 0.32721100000003px),
    calc(100% - 25px) calc(100% - 0px),
    25px calc(100% - 0px),
    25px calc(100% - 0px),
    20.9448747px calc(100% - 0.32721099999992px),
    17.0980736px calc(100% - 1.2745279999999px),
    13.5110689px calc(100% - 2.790477px),
    10.2353328px calc(100% - 4.823584px),
    7.3223375px calc(100% - 7.322375px),
    4.8235552px calc(100% - 10.235376px),
    2.7904581px calc(100% - 13.511113px),
    1.2745184px calc(100% - 17.098112px),
    0.3272083px calc(100% - 20.944899px),
    4.1388943247101e-31px calc(100% - 25px),
    0px 99px,
    0px 99px,
    0.3272083px 94.9448504px,
    1.2745184px 91.0980352px,
    2.7904581px 87.5110248px,
    4.8235552px 84.2352896px,
    7.3223375px 81.3223px,
    10.2353328px 78.8235264px,
    13.5110689px 76.7904392px,
    17.0980736px 75.2745088px,
    20.9448747px 74.3272056px,
    25px 74px,
    calc(50% - 146.057px) 73.9999px,
    calc(50% - 146.057px) 73.9999px,
    calc(50% - 143.460217px) 73.8649721px,
    calc(50% - 140.918976px) 73.4667768px,
    calc(50% - 138.450839px) 72.8151967px,
    calc(50% - 136.073368px) 71.9201144px,
    calc(50% - 133.804125px) 70.7914125px,
    calc(50% - 131.660672px) 69.4389736px,
    calc(50% - 129.660571px) 67.8726803px,
    calc(50% - 127.821384px) 66.1024152px,
    calc(50% - 126.160673px) 64.1380609px,
    calc(50% - 124.696px) 61.9895px,
    calc(50% - 94.304px) 12.0105px,
    calc(50% - 94.304px) 12.0105px,
    calc(50% - 92.839327px) 9.86192415px,
    calc(50% - 91.178616px) 7.8975552px,
    calc(50% - 89.339429px) 6.12727605px,
    calc(50% - 87.339328px) 4.5609696px,
    calc(50% - 85.195875px) 3.20851875px,
    calc(50% - 82.926632px) 2.0798064px,
    calc(50% - 80.549161px) 1.18471545px,
    calc(50% - 78.081024px) 0.5331288px,
    calc(50% - 75.539783px) 0.13492935px,
    calc(50% - 72.943px) 1.6834353347175e-31px,
    calc(100% - 25px) 0px,
    calc(100% - 25px) 0px,
    calc(100% - 20.944899px) 0.3272083px,
    calc(100% - 17.098112px) 1.2745184px,
    calc(100% - 13.511113px) 2.7904581px,
    calc(100% - 10.235376px) 4.8235552px,
    calc(100% - 7.322375px) 7.3223375px,
    calc(100% - 4.8235839999999px) 10.2353328px,
    calc(100% - 2.790477px) 13.5110689px,
    calc(100% - 1.2745279999999px) 17.0980736px,
    calc(100% - 0.32721100000015px) 20.9448747px,
    calc(100% - 0px) 25px,
    calc(100% - 0px) calc(100% - 25px)
  );
}

.portfolio {
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.portfoliocard:hover .shading {
  opacity: 1;
}

.portfoliocard {
  cursor: pointer;
}
