.folder.left,
.folder.center,
.folder.sharp {
  backdrop-filter: blur(20px);
  background-color: rgba(33, 163, 217, 0.2);
}

.folder.sharp {
  clip-path: polygon(
    0px calc(50% - 45.5px),
    0px calc(50% - 45.5px),
    0.3272083px calc(50% - 49.555101px),
    1.2745184px calc(50% - 53.401888px),
    2.7904581px calc(50% - 56.988887px),
    4.8235552px calc(50% - 60.264624px),
    7.3223375px calc(50% - 63.177625px),
    10.2353328px calc(50% - 65.676416px),
    13.5110689px calc(50% - 67.709523px),
    17.0980736px calc(50% - 69.225472px),
    20.9448747px calc(50% - 70.172789px),
    25px calc(50% - 70.5px),
    calc(50% - 14.113px) calc(50% - 70.5px),
    calc(50% - 14.113px) calc(50% - 70.5px),
    calc(50% - 11.507425px) calc(50% - 70.635851px),
    calc(50% - 8.9579199999999px) calc(50% - 71.036728px),
    calc(50% - 6.482215px) calc(50% - 71.692617px),
    calc(50% - 4.09804px) calc(50% - 72.593504px),
    calc(50% - 1.823125px) calc(50% - 73.729375px),
    calc(50% - -0.32479999999998px) calc(50% - 75.090216px),
    calc(50% - -2.328005px) calc(50% - 76.666013px),
    calc(50% - -4.16876px) calc(50% - 78.446752px),
    calc(50% - -5.829335px) calc(50% - 80.422419px),
    calc(50% - -7.2919999999999px) calc(50% - 82.583px),
    calc(50% - -62.708px) 12.0834px,
    calc(50% - -62.708px) 12.0834px,
    calc(50% - -64.170665px) 9.92271303px,
    calc(50% - -65.83124px) 7.94696064px,
    calc(50% - -67.671995px) 6.16615461px,
    calc(50% - -69.6752px) 4.59030672px,
    calc(50% - -71.823125px) 3.22942875px,
    calc(50% - -74.09804px) 2.09353248px,
    calc(50% - -76.482215px) 1.19262969px,
    calc(50% - -78.95792px) 0.53673216px,
    calc(50% - -81.507425px) 0.13585167px,
    calc(50% - -84.113px) 1.6950685678791e-31px,
    calc(100% - 25px) 0px,
    calc(100% - 25px) 0px,
    calc(100% - 20.944899px) 0.3272083px,
    calc(100% - 17.098112px) 1.2745184px,
    calc(100% - 13.511113px) 2.7904581px,
    calc(100% - 10.235376px) 4.8235552px,
    calc(100% - 7.322375px) 7.3223375px,
    calc(100% - 4.823584px) 10.2353328px,
    calc(100% - 2.790477px) 13.5110689px,
    calc(100% - 1.274528px) 17.0980736px,
    calc(100% - 0.32721100000003px) 20.9448747px,
    calc(100% - 1.1368683772162e-13px) 25px,
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0.32721099999992px) calc(100% - 20.944899px),
    calc(100% - 1.2745279999999px) calc(100% - 17.098112px),
    calc(100% - 2.790477px) calc(100% - 13.511113px),
    calc(100% - 4.823584px) calc(100% - 10.235376px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 17.098112px) calc(100% - 1.274528px),
    calc(100% - 20.944899px) calc(100% - 0.32721100000003px),
    calc(100% - 25px) calc(100% - 5.6843418860808e-14px),
    25px calc(100% - 0px),
    25px calc(100% - 0px),
    20.9448747px calc(100% - 0.32721099999992px),
    17.0980736px calc(100% - 1.2745279999999px),
    13.5110689px calc(100% - 2.790477px),
    10.2353328px calc(100% - 4.823584px),
    7.3223375px calc(100% - 7.322375px),
    4.8235552px calc(100% - 10.235376px),
    2.7904581px calc(100% - 13.511113px),
    1.2745184px calc(100% - 17.098112px),
    0.3272083px calc(100% - 20.944899px),
    4.1388943247101e-31px calc(100% - 25px),
    0px calc(50% - 45.5px)
  );
}

.folder.right,
.folder.leftLine,
.folder.centerLine,
.folder.sharpLine {
  background-color: var(--color-primary);
}

.folder.sharpLine {
  clip-path: polygon(
    0px calc(50% - 45.5px),
    0px calc(50% - 45.5px),
    0.3272083px calc(50% - 49.555101px),
    1.2745184px calc(50% - 53.401888px),
    2.7904581px calc(50% - 56.988887px),
    4.8235552px calc(50% - 60.264624px),
    7.3223375px calc(50% - 63.177625px),
    10.2353328px calc(50% - 65.676416px),
    13.5110689px calc(50% - 67.709523px),
    17.0980736px calc(50% - 69.225472px),
    20.9448747px calc(50% - 70.172789px),
    25px calc(50% - 70.5px),
    calc(50% - 14.113px) calc(50% - 70.5px),
    calc(50% - 14.113px) calc(50% - 70.5px),
    calc(50% - 11.507425px) calc(50% - 70.635851px),
    calc(50% - 8.9579199999999px) calc(50% - 71.036728px),
    calc(50% - 6.482215px) calc(50% - 71.692617px),
    calc(50% - 4.09804px) calc(50% - 72.593504px),
    calc(50% - 1.823125px) calc(50% - 73.729375px),
    calc(50% - -0.32479999999998px) calc(50% - 75.090216px),
    calc(50% - -2.328005px) calc(50% - 76.666013px),
    calc(50% - -4.16876px) calc(50% - 78.446752px),
    calc(50% - -5.829335px) calc(50% - 80.422419px),
    calc(50% - -7.2919999999999px) calc(50% - 82.583px),
    calc(50% - -62.708px) 12.0834px,
    calc(50% - -62.708px) 12.0834px,
    calc(50% - -64.170665px) 9.92271303px,
    calc(50% - -65.83124px) 7.94696064px,
    calc(50% - -67.671995px) 6.16615461px,
    calc(50% - -69.6752px) 4.59030672px,
    calc(50% - -71.823125px) 3.22942875px,
    calc(50% - -74.09804px) 2.09353248px,
    calc(50% - -76.482215px) 1.19262969px,
    calc(50% - -78.95792px) 0.53673216px,
    calc(50% - -81.507425px) 0.13585167px,
    calc(50% - -84.113px) 1.6950685678791e-31px,
    calc(100% - 25px) 0px,
    calc(100% - 25px) 0px,
    calc(100% - 20.944899px) 0.3272083px,
    calc(100% - 17.098112px) 1.2745184px,
    calc(100% - 13.511113px) 2.7904581px,
    calc(100% - 10.235376px) 4.8235552px,
    calc(100% - 7.322375px) 7.3223375px,
    calc(100% - 4.823584px) 10.2353328px,
    calc(100% - 2.790477px) 13.5110689px,
    calc(100% - 1.274528px) 17.0980736px,
    calc(100% - 0.32721100000003px) 20.9448747px,
    calc(100% - 1.1368683772162e-13px) 25px,
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0.32721099999992px) calc(100% - 20.944899px),
    calc(100% - 1.2745279999999px) calc(100% - 17.098112px),
    calc(100% - 2.790477px) calc(100% - 13.511113px),
    calc(100% - 4.823584px) calc(100% - 10.235376px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 17.098112px) calc(100% - 1.274528px),
    calc(100% - 20.944899px) calc(100% - 0.32721100000003px),
    calc(100% - 25px) calc(100% - 5.6843418860808e-14px),
    25px calc(100% - 0px),
    25px calc(100% - 0px),
    20.9448747px calc(100% - 0.32721099999992px),
    17.0980736px calc(100% - 1.2745279999999px),
    13.5110689px calc(100% - 2.790477px),
    10.2353328px calc(100% - 4.823584px),
    7.3223375px calc(100% - 7.322375px),
    4.8235552px calc(100% - 10.235376px),
    2.7904581px calc(100% - 13.511113px),
    1.2745184px calc(100% - 17.098112px),
    0.3272083px calc(100% - 20.944899px),
    4.1388943247101e-31px calc(100% - 25px),
    0px calc(50% - 45.5px),
    calc(100% - 25px) 2px,
    calc(50% - -84.113px) 2px,
    calc(50% - -81.715931px) 2.12498353px,
    calc(50% - -79.370408px) 2.49379344px,
    calc(50% - -77.092757px) 3.09721871px,
    calc(50% - -74.899304px) 3.92604832px,
    calc(50% - -72.806375px) 4.97107125px,
    calc(50% - -70.830296px) 6.22307648px,
    calc(50% - -68.987393px) 7.67285299px,
    calc(50% - -67.293992px) 9.31118976px,
    calc(50% - -65.766419px) 11.12887577px,
    calc(50% - -64.421px) 13.1167px,
    calc(50% - -64.421px) 13.1167px,
    calc(50% - -9.004px) calc(50% - 81.55px),
    calc(50% - -7.424603px) calc(50% - 79.216543px),
    calc(50% - -5.631384px) calc(50% - 77.082784px),
    calc(50% - -3.643501px) calc(50% - 75.159541px),
    calc(50% - -1.480112px) calc(50% - 73.457632px),
    calc(50% - 0.83962500000001px) calc(50% - 71.987875px),
    calc(50% - 3.296552px) calc(50% - 70.761088px),
    calc(50% - 5.871511px) calc(50% - 69.788089px),
    calc(50% - 8.5453439999999px) calc(50% - 69.079696px),
    calc(50% - 11.298893px) calc(50% - 68.646727px),
    calc(50% - 14.113px) calc(50% - 68.5px),
    calc(50% - 14.113px) calc(50% - 68.5px),
    25px calc(50% - 68.5px),
    21.2692925px calc(50% - 68.198981px),
    17.73024px calc(50% - 67.327488px),
    14.4301975px calc(50% - 65.932867px),
    11.41652px calc(50% - 64.062464px),
    8.7365625px calc(50% - 61.763625px),
    6.43768px calc(50% - 59.083696px),
    4.5672275px calc(50% - 56.070023px),
    3.17256px calc(50% - 52.769952px),
    2.3010325px calc(50% - 49.230829px),
    2px calc(50% - 45.5px),
    2px calc(50% - 45.5px),
    2px calc(100% - 25px),
    2.3010298px calc(100% - 21.269171px),
    3.1725504px calc(100% - 17.730048px),
    4.5672086px calc(100% - 14.429977px),
    6.4376512px calc(100% - 11.416304px),
    8.736525px calc(100% - 8.736375px),
    11.4164768px calc(100% - 6.437536px),
    14.4301534px calc(100% - 4.567133px),
    17.7302016px calc(100% - 3.172512px),
    21.2692682px calc(100% - 2.3010189999999px),
    25px calc(100% - 2px),
    25px calc(100% - 2px),
    calc(100% - 25px) calc(100% - 2.0000000000001px),
    calc(100% - 21.269171px) calc(100% - 2.301019px),
    calc(100% - 17.730048px) calc(100% - 3.172512px),
    calc(100% - 14.429977px) calc(100% - 4.567133px),
    calc(100% - 11.416304px) calc(100% - 6.437536px),
    calc(100% - 8.736375px) calc(100% - 8.736375px),
    calc(100% - 6.4375359999999px) calc(100% - 11.416304px),
    calc(100% - 4.567133px) calc(100% - 14.429977px),
    calc(100% - 3.1725119999999px) calc(100% - 17.730048px),
    calc(100% - 2.3010189999999px) calc(100% - 21.269171px),
    calc(100% - 2px) calc(100% - 25px),
    calc(100% - 2px) calc(100% - 25px),
    calc(100% - 2.0000000000001px) 25px,
    calc(100% - 2.301019px) 21.2692925px,
    calc(100% - 3.172512px) 17.73024px,
    calc(100% - 4.567133px) 14.4301975px,
    calc(100% - 6.4375359999999px) 11.41652px,
    calc(100% - 8.736375px) 8.7365625px,
    calc(100% - 11.416304px) 6.43768px,
    calc(100% - 14.429977px) 4.5672275px,
    calc(100% - 17.730048px) 3.17256px,
    calc(100% - 21.269171px) 2.3010325px,
    calc(100% - 25px) 2px,
    calc(100% - 25px) 2px
  );
}

.folder.center {
  clip-path: polygon(
    0px calc(100% - 25px),
    0px calc(100% - 25px),
    0.3272083px calc(100% - 20.944899px),
    1.2745184px calc(100% - 17.098112px),
    2.7904581px calc(100% - 13.511113px),
    4.8235552px calc(100% - 10.235376px),
    7.3223375px calc(100% - 7.322375px),
    10.2353328px calc(100% - 4.823584px),
    13.5110689px calc(100% - 2.790477px),
    17.0980736px calc(100% - 1.274528px),
    20.9448747px calc(100% - 0.32721100000003px),
    25px calc(100% - 0px),
    calc(100% - 25px) calc(100% - 0px),
    calc(100% - 25px) calc(100% - 0px),
    calc(100% - 20.944899px) calc(100% - 0.32721099999992px),
    calc(100% - 17.098112px) calc(100% - 1.2745279999999px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 4.8235839999999px) calc(100% - 10.235376px),
    calc(100% - 2.790477px) calc(100% - 13.511113px),
    calc(100% - 1.2745279999999px) calc(100% - 17.098112px),
    calc(100% - 0.32721100000015px) calc(100% - 20.944899px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) 98.9999px,
    calc(100% - 0px) 98.9999px,
    calc(100% - 0.32721099999981px) 94.9447747px,
    calc(100% - 1.2745279999998px) 91.0979736px,
    calc(100% - 2.790477px) 87.5109689px,
    calc(100% - 4.8235839999999px) 84.2352328px,
    calc(100% - 7.322375px) 81.3222375px,
    calc(100% - 10.235376px) 78.8234552px,
    calc(100% - 13.511113px) 76.7903581px,
    calc(100% - 17.098112px) 75.2744184px,
    calc(100% - 20.944899px) 74.3271083px,
    calc(100% - 25px) 73.9999px,
    calc(50% - -146.057px) 73.9999px,
    calc(50% - -146.057px) 73.9999px,
    calc(50% - -143.460217px) 73.864972px,
    calc(50% - -140.918976px) 73.466776px,
    calc(50% - -138.450839px) 72.815194px,
    calc(50% - -136.073368px) 71.920108px,
    calc(50% - -133.804125px) 70.7914px,
    calc(50% - -131.660672px) 69.438952px,
    calc(50% - -129.660571px) 67.872646px,
    calc(50% - -127.821384px) 66.102364px,
    calc(50% - -126.160673px) 64.137988px,
    calc(50% - -124.696px) 61.9894px,
    calc(50% - -94.304px) 12.0105px,
    calc(50% - -94.304px) 12.0105px,
    calc(50% - -92.839327px) 9.86191443px,
    calc(50% - -91.178616px) 7.89753984px,
    calc(50% - -89.339429px) 6.12725841px,
    calc(50% - -87.339328px) 4.56095232px,
    calc(50% - -85.195875px) 3.20850375px,
    calc(50% - -82.926632px) 2.07979488px,
    calc(50% - -80.549161px) 1.18470789px,
    calc(50% - -78.081024px) 0.53312496px,
    calc(50% - -75.539783px) 0.13492827px,
    calc(50% - -72.943px) 1.6834205435755e-31px,
    25px 0px,
    25px 0px,
    20.9448747px 0.3272083px,
    17.0980736px 1.2745184px,
    13.5110689px 2.7904581px,
    10.2353328px 4.8235552px,
    7.3223375px 7.3223375px,
    4.8235552px 10.2353328px,
    2.7904581px 13.5110689px,
    1.2745184px 17.0980736px,
    0.3272083px 20.9448747px,
    4.1388943247101e-31px 25px,
    0px calc(100% - 25px)
  );
}

.folder.centerLine {
  clip-path: polygon(
    0px calc(100% - 25px),
    0px calc(100% - 25px),
    0.3272083px calc(100% - 20.944899px),
    1.2745184px calc(100% - 17.098112px),
    2.7904581px calc(100% - 13.511113px),
    4.8235552px calc(100% - 10.235376px),
    7.3223375px calc(100% - 7.322375px),
    10.2353328px calc(100% - 4.823584px),
    13.5110689px calc(100% - 2.790477px),
    17.0980736px calc(100% - 1.274528px),
    20.9448747px calc(100% - 0.32721100000003px),
    25px calc(100% - 0px),
    calc(100% - 25px) calc(100% - 0px),
    calc(100% - 25px) calc(100% - 0px),
    calc(100% - 20.944899px) calc(100% - 0.32721099999992px),
    calc(100% - 17.098112px) calc(100% - 1.2745279999999px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 4.8235839999999px) calc(100% - 10.235376px),
    calc(100% - 2.790477px) calc(100% - 13.511113px),
    calc(100% - 1.2745279999999px) calc(100% - 17.098112px),
    calc(100% - 0.32721100000015px) calc(100% - 20.944899px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) 99px,
    calc(100% - 0px) 99px,
    calc(100% - 0.32721099999981px) 94.9448504px,
    calc(100% - 1.2745279999998px) 91.0980352px,
    calc(100% - 2.790477px) 87.5110248px,
    calc(100% - 4.8235839999999px) 84.2352896px,
    calc(100% - 7.322375px) 81.3223px,
    calc(100% - 10.235376px) 78.8235264px,
    calc(100% - 13.511113px) 76.7904392px,
    calc(100% - 17.098112px) 75.2745088px,
    calc(100% - 20.944899px) 74.3272056px,
    calc(100% - 25px) 74px,
    calc(50% - -146.057px) 73.9999px,
    calc(50% - -146.057px) 73.9999px,
    calc(50% - -143.460217px) 73.8649721px,
    calc(50% - -140.918976px) 73.4667768px,
    calc(50% - -138.450839px) 72.8151967px,
    calc(50% - -136.073368px) 71.9201144px,
    calc(50% - -133.804125px) 70.7914125px,
    calc(50% - -131.660672px) 69.4389736px,
    calc(50% - -129.660571px) 67.8726803px,
    calc(50% - -127.821384px) 66.1024152px,
    calc(50% - -126.160673px) 64.1380609px,
    calc(50% - -124.696px) 61.9895px,
    calc(50% - -94.304px) 12.0105px,
    calc(50% - -94.304px) 12.0105px,
    calc(50% - -92.839327px) 9.86192415px,
    calc(50% - -91.178616px) 7.8975552px,
    calc(50% - -89.339429px) 6.12727605px,
    calc(50% - -87.339328px) 4.5609696px,
    calc(50% - -85.195875px) 3.20851875px,
    calc(50% - -82.926632px) 2.0798064px,
    calc(50% - -80.549161px) 1.18471545px,
    calc(50% - -78.081024px) 0.5331288px,
    calc(50% - -75.539783px) 0.13492935px,
    calc(50% - -72.943px) 1.6834353347175e-31px,
    25px 0px,
    25px 0px,
    20.9448747px 0.3272083px,
    17.0980736px 1.2745184px,
    13.5110689px 2.7904581px,
    10.2353328px 4.8235552px,
    7.3223375px 7.3223375px,
    4.8235552px 10.2353328px,
    2.7904581px 13.5110689px,
    1.2745184px 17.0980736px,
    0.3272083px 20.9448747px,
    4.1388943247101e-31px 25px,
    0px calc(100% - 25px),
    2px calc(100% - 25px),
    2px 25px,
    2.3010298px 21.26929334px,
    3.1725504px 17.73024312px,
    4.5672086px 14.43020398px,
    6.4376512px 11.41653056px,
    8.736525px 8.7365775px,
    11.4164768px 6.43769944px,
    14.4301534px 4.56725102px,
    17.7302016px 3.17258688px,
    21.2692682px 2.30106166px,
    25px 2.00003px,
    25px 2.00003px,
    calc(50% - -72.943px) 2px,
    calc(50% - -75.332118px) 2.12413515px,
    calc(50% - -77.670104px) 2.4904792px,
    calc(50% - -79.940806px) 3.08994005px,
    calc(50% - -82.128072px) 3.9134256px,
    calc(50% - -84.21575px) 4.95184375px,
    calc(50% - -86.187688px) 6.1961024px,
    calc(50% - -88.027734px) 7.63710945px,
    calc(50% - -89.719736px) 9.2657728px,
    calc(50% - -91.247542px) 11.07300035px,
    calc(50% - -92.595px) 13.0497px,
    calc(50% - -92.595px) 13.0497px,
    calc(50% - -122.987px) 63.0286px,
    calc(50% - -124.568888px) 65.3490642px,
    calc(50% - -126.362504px) 67.4705816px,
    calc(50% - -128.348876px) 69.3824794px,
    calc(50% - -130.509032px) 71.0740848px,
    calc(50% - -132.824px) 72.534725px,
    calc(50% - -135.274808px) 73.7537272px,
    calc(50% - -137.842484px) 74.7204186px,
    calc(50% - -140.508056px) 75.4241264px,
    calc(50% - -143.252552px) 75.8541778px,
    calc(50% - -146.057px) 75.9999px,
    calc(50% - -146.057px) 75.9999px,
    calc(100% - 25px) 76px,
    calc(100% - 21.269171px) 76.3010298px,
    calc(100% - 17.730048px) 77.1725504px,
    calc(100% - 14.429977px) 78.5672086px,
    calc(100% - 11.416304px) 80.4376512px,
    calc(100% - 8.736375px) 82.736525px,
    calc(100% - 6.437536px) 85.4164768px,
    calc(100% - 4.567133px) 88.4301534px,
    calc(100% - 3.1725119999999px) 91.7302016px,
    calc(100% - 2.3010189999999px) 95.2692682px,
    calc(100% - 2px) 99px,
    calc(100% - 2px) 99px,
    calc(100% - 2px) calc(100% - 25px),
    calc(100% - 2.301019px) calc(100% - 21.269171px),
    calc(100% - 3.172512px) calc(100% - 17.730048px),
    calc(100% - 4.567133px) calc(100% - 14.429977px),
    calc(100% - 6.437536px) calc(100% - 11.416304px),
    calc(100% - 8.736375px) calc(100% - 8.736375px),
    calc(100% - 11.416304px) calc(100% - 6.437536px),
    calc(100% - 14.429977px) calc(100% - 4.567133px),
    calc(100% - 17.730048px) calc(100% - 3.1725119999999px),
    calc(100% - 21.269171px) calc(100% - 2.3010189999999px),
    calc(100% - 25px) calc(100% - 2px),
    calc(100% - 25px) calc(100% - 2px),
    25px calc(100% - 2px),
    21.2692925px calc(100% - 2.3010190000001px),
    17.73024px calc(100% - 3.172512px),
    14.4301975px calc(100% - 4.567133px),
    11.41652px calc(100% - 6.437536px),
    8.7365625px calc(100% - 8.736375px),
    6.43768px calc(100% - 11.416304px),
    4.5672275px calc(100% - 14.429977px),
    3.17256px calc(100% - 17.730048px),
    2.3010325px calc(100% - 21.269171px),
    2px calc(100% - 25px),
    2px calc(100% - 25px)
  );
}

.folder.left {
  clip-path: polygon(
    25px calc(100% - 1px),
    calc(100% - 25px) calc(100% - 1px),
    calc(100% - 25px) calc(100% - 1px),
    calc(100% - 21.107035px) calc(100% - 1.314115px),
    calc(100% - 17.41408px) calc(100% - 2.22352px),
    calc(100% - 13.970545px) calc(100% - 3.678805px),
    calc(100% - 10.82584px) calc(100% - 5.63056px),
    calc(100% - 8.029375px) calc(100% - 8.029375px),
    calc(100% - 5.63056px) calc(100% - 10.82584px),
    calc(100% - 3.678805px) calc(100% - 13.970545px),
    calc(100% - 2.22352px) calc(100% - 17.41408px),
    calc(100% - 1.314115px) calc(100% - 21.107035px),
    calc(100% - 1.0000000000001px) calc(100% - 25px),
    calc(100% - 1px) 91px,
    calc(100% - 1px) 91px,
    calc(100% - 1.3141149999999px) 87.1070836px,
    calc(100% - 2.2235199999999px) 83.4141568px,
    calc(100% - 3.678805px) 79.9706332px,
    calc(100% - 5.63056px) 76.8259264px,
    calc(100% - 8.029375px) 74.02945px,
    calc(100% - 10.82584px) 71.6306176px,
    calc(100% - 13.970545px) 69.6788428px,
    calc(100% - 17.41408px) 68.2235392px,
    calc(100% - 21.107035px) 67.3141204px,
    calc(100% - 25px) 67px,
    304.081px 67px,
    304.081px 67px,
    301.376558px 66.8592528px,
    298.730064px 66.4439024px,
    296.159866px 65.7642856px,
    293.684312px 64.8307392px,
    291.32175px 63.6536px,
    289.090528px 62.2432048px,
    287.008994px 60.6098904px,
    285.095496px 58.7639936px,
    283.368382px 56.7158512px,
    281.846px 54.4758px,
    256.443px 12.5608px,
    256.443px 12.5608px,
    255.038105px 10.4930623px,
    253.44412px 8.6024704px,
    251.677995px 6.8985661px,
    249.75668px 5.3908912px,
    247.697125px 4.0889875px,
    245.51628px 3.0023968px,
    243.231095px 2.1406609px,
    240.85852px 1.5133216px,
    238.415505px 1.1299207px,
    235.919px 1px,
    25px 1px,
    25px 1px,
    21.1070836px 1.3141204px,
    17.4141568px 2.2235392px,
    13.9706332px 3.6788428px,
    10.8259264px 5.6306176px,
    8.02945px 8.02945px,
    5.6306176px 10.8259264px,
    3.6788428px 13.9706332px,
    2.2235392px 17.4141568px,
    1.3141204px 21.1070836px,
    1px 25px,
    1px calc(100% - 25px),
    1px calc(100% - 25px),
    1.3141204px calc(100% - 21.107035px),
    2.2235392px calc(100% - 17.41408px),
    3.6788428px calc(100% - 13.970545px),
    5.6306176px calc(100% - 10.82584px),
    8.02945px calc(100% - 8.029375px),
    10.8259264px calc(100% - 5.63056px),
    13.9706332px calc(100% - 3.678805px),
    17.4141568px calc(100% - 2.22352px),
    21.1070836px calc(100% - 1.314115px),
    25px calc(100% - 1px)
  );
}

.folder.leftLine {
  clip-path: polygon(
    0px calc(100% - 25px),
    0px calc(100% - 25px),
    0.3272083px calc(100% - 20.944899px),
    1.2745184px calc(100% - 17.098112px),
    2.7904581px calc(100% - 13.511113px),
    4.8235552px calc(100% - 10.235376px),
    7.3223375px calc(100% - 7.322375px),
    10.2353328px calc(100% - 4.823584px),
    13.5110689px calc(100% - 2.790477px),
    17.0980736px calc(100% - 1.274528px),
    20.9448747px calc(100% - 0.32721100000001px),
    25px calc(100% - 0px),
    calc(100% - 25px) calc(100% - 0px),
    calc(100% - 25px) calc(100% - 0px),
    calc(100% - 20.944899px) calc(100% - 0.32721099999998px),
    calc(100% - 17.098112px) calc(100% - 1.2745279999999px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 4.823584px) calc(100% - 10.235376px),
    calc(100% - 2.790477px) calc(100% - 13.511113px),
    calc(100% - 1.274528px) calc(100% - 17.098112px),
    calc(100% - 0.32721100000003px) calc(100% - 20.944899px),
    calc(100% - 5.6843418860808e-14px) calc(100% - 25px),
    calc(100% - 0px) 91px,
    calc(100% - 0px) 91px,
    calc(100% - 0.32721099999992px) 86.9448747px,
    calc(100% - 1.2745279999999px) 83.0980736px,
    calc(100% - 2.790477px) 79.5110689px,
    calc(100% - 4.8235839999999px) 76.2353328px,
    calc(100% - 7.322375px) 73.3223375px,
    calc(100% - 10.235376px) 70.8235552px,
    calc(100% - 13.511113px) 68.7904581px,
    calc(100% - 17.098112px) 67.2745184px,
    calc(100% - 20.944899px) 66.3272083px,
    calc(100% - 25px) 66px,
    304.081px 66px,
    304.081px 66px,
    301.480662px 65.8646675px,
    298.936016px 65.465296px,
    296.464714px 64.8118245px,
    294.084408px 63.914192px,
    291.81275px 62.7823375px,
    289.667392px 61.4262px,
    287.665986px 59.8557185px,
    285.826184px 58.080832px,
    284.165638px 56.1114795px,
    282.702px 53.9576px,
    257.298px 12.0425px,
    257.298px 12.0425px,
    255.834362px 9.88860555px,
    254.173816px 7.9192384px,
    252.334014px 6.14433785px,
    250.332608px 4.5738432px,
    248.18725px 3.21769375px,
    245.915592px 2.0858288px,
    243.535286px 1.18818765px,
    241.063984px 0.5347096px,
    238.519338px 0.13533395px,
    235.919px 1.6885382786981e-31px,
    25px 0px,
    25px 0px,
    20.9448747px 0.3272083px,
    17.0980736px 1.2745184px,
    13.5110689px 2.7904581px,
    10.2353328px 4.8235552px,
    7.3223375px 7.3223375px,
    4.8235552px 10.2353328px,
    2.7904581px 13.5110689px,
    1.2745184px 17.0980736px,
    0.3272083px 20.9448747px,
    4.1388943247101e-31px 25px,
    0px calc(100% - 25px),
    2px calc(100% - 25px),
    2px 25px,
    2.3010325px 21.2692925px,
    3.17256px 17.73024px,
    4.5672275px 14.4301975px,
    6.43768px 11.41652px,
    8.7365625px 8.7365625px,
    11.41652px 6.43768px,
    14.4301975px 4.5672275px,
    17.73024px 3.17256px,
    21.2692925px 2.3010325px,
    25px 2px,
    25px 2px,
    235.919px 2px,
    238.311402px 2.12450691px,
    240.652576px 2.49193168px,
    242.926274px 3.09313037px,
    245.116248px 3.91895904px,
    247.20625px 4.96027375px,
    249.180032px 6.20793056px,
    251.021346px 7.65278553px,
    252.713944px 9.28569472px,
    254.241578px 11.09751419px,
    255.588px 13.0791px,
    255.588px 13.0791px,
    280.991px 54.9941px,
    282.571855px 57.3203201px,
    284.36532px 59.4472448px,
    286.352345px 61.3641407px,
    288.51388px 63.0602744px,
    290.830875px 64.5249125px,
    293.28428px 65.7473216px,
    295.855045px 66.7167683px,
    298.52412px 67.4225192px,
    301.272455px 67.8538409px,
    304.081px 68px,
    304.081px 68px,
    calc(100% - 25px) 68px,
    calc(100% - 21.269171px) 68.3010325px,
    calc(100% - 17.730048px) 69.17256px,
    calc(100% - 14.429977px) 70.5672275px,
    calc(100% - 11.416304px) 72.43768px,
    calc(100% - 8.736375px) 74.7365625px,
    calc(100% - 6.437536px) 77.41652px,
    calc(100% - 4.567133px) 80.4301975px,
    calc(100% - 3.1725119999999px) 83.73024px,
    calc(100% - 2.3010189999999px) 87.2692925px,
    calc(100% - 2px) 91px,
    calc(100% - 2px) 91px,
    calc(100% - 2.0000000000001px) calc(100% - 25px),
    calc(100% - 2.3010189999999px) calc(100% - 21.269171px),
    calc(100% - 3.172512px) calc(100% - 17.730048px),
    calc(100% - 4.567133px) calc(100% - 14.429977px),
    calc(100% - 6.437536px) calc(100% - 11.416304px),
    calc(100% - 8.736375px) calc(100% - 8.736375px),
    calc(100% - 11.416304px) calc(100% - 6.437536px),
    calc(100% - 14.429977px) calc(100% - 4.567133px),
    calc(100% - 17.730048px) calc(100% - 3.1725119999999px),
    calc(100% - 21.269171px) calc(100% - 2.301019px),
    calc(100% - 25px) calc(100% - 2px),
    calc(100% - 25px) calc(100% - 2px),
    25px calc(100% - 2px),
    21.2692925px calc(100% - 2.301019px),
    17.73024px calc(100% - 3.172512px),
    14.4301975px calc(100% - 4.567133px),
    11.41652px calc(100% - 6.437536px),
    8.7365625px calc(100% - 8.736375px),
    6.43768px calc(100% - 11.416304px),
    4.5672275px calc(100% - 14.429977px),
    3.17256px calc(100% - 17.730048px),
    2.3010325px calc(100% - 21.269171px),
    2px calc(100% - 25px),
    2px calc(100% - 25px)
  );
}

.folder.right {
  clip-path: polygon(
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0.32721100000003px) calc(100% - 20.944899px),
    calc(100% - 1.2745279999998px) calc(100% - 17.098112px),
    calc(100% - 2.7904770000001px) calc(100% - 13.511113px),
    calc(100% - 4.823584px) calc(100% - 10.235376px),
    calc(100% - 7.322375px) calc(100% - 7.322375px),
    calc(100% - 10.235376px) calc(100% - 4.823584px),
    calc(100% - 13.511113px) calc(100% - 2.790477px),
    calc(100% - 17.098112px) calc(100% - 1.274528px),
    calc(100% - 20.944899px) calc(100% - 0.32721100000001px),
    calc(100% - 25px) calc(100% - 0px),
    25px calc(100% - 0px),
    25px calc(100% - 0px),
    20.9448747px calc(100% - 0.32721099999998px),
    17.0980736px calc(100% - 1.2745279999999px),
    13.5110689px calc(100% - 2.790477px),
    10.2353328px calc(100% - 4.823584px),
    7.3223375px calc(100% - 7.322375px),
    4.8235552px calc(100% - 10.235376px),
    2.7904581px calc(100% - 13.511113px),
    1.2745184px calc(100% - 17.098112px),
    0.3272083px calc(100% - 20.944899px),
    4.1388943247101e-31px calc(100% - 25px),
    0px 91px,
    0px 91px,
    0.3272083px 86.9448747px,
    1.2745184px 83.0980736px,
    2.7904581px 79.5110689px,
    4.8235552px 76.2353328px,
    7.3223375px 73.3223375px,
    10.2353328px 70.8235552px,
    13.5110689px 68.7904581px,
    17.0980736px 67.2745184px,
    20.9448747px 66.3272083px,
    25px 66px,
    calc(100% - 304.081px) 66px,
    calc(100% - 304.081px) 66px,
    calc(100% - 301.480419px) 65.8646675px,
    calc(100% - 298.935632px) 65.465296px,
    calc(100% - 296.464273px) 64.8118245px,
    calc(100% - 294.083976px) 63.914192px,
    calc(100% - 291.812375px) 62.7823375px,
    calc(100% - 289.667104px) 61.4262px,
    calc(100% - 287.665797px) 59.8557185px,
    calc(100% - 285.826088px) 58.080832px,
    calc(100% - 284.165611px) 56.1114795px,
    calc(100% - 282.702px) 53.9576px,
    calc(100% - 257.298px) 12.0425px,
    calc(100% - 257.298px) 12.0425px,
    calc(100% - 255.834362px) 9.88860798px,
    calc(100% - 254.173816px) 7.91924224px,
    calc(100% - 252.334014px) 6.14434226px,
    calc(100% - 250.332608px) 4.57384752px,
    calc(100% - 248.18725px) 3.2176975px,
    calc(100% - 245.915592px) 2.08583168px,
    calc(100% - 243.535286px) 1.18818954px,
    calc(100% - 241.063984px) 0.53471056px,
    calc(100% - 238.519338px) 0.13533422px,
    calc(100% - 235.919px) 1.6885419764836e-31px,
    calc(100% - 25px) 0px,
    calc(100% - 25px) 0px,
    calc(100% - 20.944899px) 0.3272083px,
    calc(100% - 17.098112px) 1.2745184px,
    calc(100% - 13.511113px) 2.7904581px,
    calc(100% - 10.235376px) 4.8235552px,
    calc(100% - 7.322375px) 7.3223375px,
    calc(100% - 4.823584px) 10.2353328px,
    calc(100% - 2.790477px) 13.5110689px,
    calc(100% - 1.274528px) 17.0980736px,
    calc(100% - 0.32721100000003px) 20.9448747px,
    calc(100% - 1.1368683772162e-13px) 25px,
    calc(100% - 0px) calc(100% - 25px)
  );
}

.folder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.app {
  text-align: center;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

.appHeader {
  background-color: #131010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8fdff;
}

.appLink {
  color: #00c1ff;
}
